*{
    margin: 0;
    padding: 0;
}
body{
    height: 100vh;
    background-color: #131313;
    overflow: hidden;
    display: flex;
    background-image: url(/jogo/img/Sprites/floor.png);
}

/*diferentes estilos do player*/
#player{
    position: absolute;
    top: 350px;
    left: 250px;
    width: 80px;
    height: 80px;
    margin-left: 46vw;
    margin-top: 13vh;;
}

.staticLeft {
    background-image: url(/jogo/img/Sprites/sPlayer\(Left\).png);
    background-size: cover;
    position: absolute;
    width: 80px;
    height: 80px;
}

.staticRight {
    background-image: url(/jogo/img/Sprites/sPlayer\(Right\).png);
    background-size: cover;
    position: absolute;
    width: 80px;
    height: 80px;
}

.staticUp {
    background-image: url(/jogo/img/Sprites/sPlayer\(Up\).png);
    background-size: cover;
    position: absolute;
    width: 80px;
    height: 80px;
}

.staticDown {
    background-image: url(/jogo/img/Sprites/sPlayer\(Down\).png);
    background-size: cover;
    position: absolute;
    width: 80px;
    height: 80px;
}

.movingLeft {
    background-image: url(/jogo/img/Sprites/movePlayer\ \(Left\).gif);
    background-size: cover;
    position: absolute;
    width: 80px;
    height: 80px;
}

.movingRight {
    background-image: url(/jogo/img/Sprites/movePlayer\ \(Right\).gif);
    background-size: cover;
    position: absolute;
    width: 80px;
    height: 80px;
}

.movingUp {
    background-image: url(/jogo/img/Sprites/movePlayer\ \(Up\).gif);
    background-size: cover;
    position: absolute;
    width: 80px;
    height: 80px;
}

.movingDown {
    background-image: url(/jogo/img/Sprites/movePlayer\ \(Down\).gif);
    background-size: cover;
    position: absolute;
    width: 80px;
    height: 80px;
}

/* paredes */
#paredeE {
    width: 80px;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url(/jogo/img/Sprites/wallLeft.png);
}

#paredeD {
    width: 80px;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 94.33vw;
    background-image: url(/jogo/img/Sprites/wallRight.png);
}

#paredeC {
    width: 100%;
    height: 80px;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url(/jogo/img/Sprites/wallUp.png);
}

#paredeB {
    width: 100%;
    height: 80px;
    position: absolute;
    top: 88.3vh;
    left: 0;
    background-image: url(/jogo/img/Sprites/wallDown.png);
}

/* quinas */
#quinaEsqUp{
    width: 80px;
    height: 80px;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url(/jogo/img/Sprites/cornerLeftUp.png);
}

#quinaEsqDown{
    width: 80px;
    height: 80px;
    position: absolute;
    top: 88vh;
    left: 0;
    background-image: url(/jogo/img/Sprites/cornerLeftDown.png);
    background-position: left bottom;
}

#quinaDirUp{
    width: 80px;
    height: 80px;
    position: absolute;
    top: 0;
    left: 94vw;
    background-image: url(/jogo/img/Sprites/cornerRightUp.png);
    background-position: right top;
}

#quinaDirDown{
    width: 80px;
    height: 80px;
    position: absolute;
    top: 88vh;
    left: 94.33vw;
    background-image: url(/jogo/img/Sprites/cornerRightDown.png);
}

/* colisões para objetos no meio da tela */
#quadrado {
    width: 100px;
    height: 100px;
    position: absolute;
    top: 50vh;
    left: 50vw;
    display: none;
}

#quadTop {
    width: 98px;
    height: 1px;
    position: absolute;
    top: 49.9vh;
    left: 50.1vw;
    display: none;
}

#quadBottom {
    width: 98px;
    height: 1px;
    position: absolute;
    top: 65.7vh;
    left: 50.1vw;
    display: none;
}

#quadLeft {
    width: 1px;
    height: 98px;
    position: absolute;
    top: 50.1vh;
    left: 49.9vw;
    display: none;
}

#quadRight {
    width: 1px;
    height: 98px;
    position: absolute;
    top: 50.1vh;
    left: 57.3vw;
    display: none;
}

/*pedra*/
#pedra{
    background-image: url(/jogo/img/Sprites/RockUnbreaking.png);
    height: 74vh;
    width: 220px;
    background-size: 110px 120px;
    position: absolute;
    left: 90px;
    top: 14vh;
}

#linhaPedra{
    width: 1px;
    height: 90vh;
    position: absolute;
    top: 10vh;
    left: 23vw;
}

#mesa {
    width: 185px;
    height: 140px;
    position: absolute;
    background-image: url(/jogo/img/Sprites/Table.png);
    background-size: cover;
    top: 38vh;
    left: 43vw;
}

#mesaLeft {
    width: 1px;
    height: 70px;
    position: absolute;
    top: 46vh;
    left: 43vw;  
}

#mesaRight {
    width: 1px;
    height: 70px;
    position: absolute;
    top: 46vh;
    left: 56.44444vw;
}

#mesaTop {
    width: 175px;
    height: 1px;
    position: absolute;
    top: 45vh;
    left: 43.3333vw;
}

#mesaBottom{
    width: 175px;
    height: 1px;
    position: absolute;
    top: 56.8888vh;
    left: 43.33333vw;
}

/* portas */
#portaRight {
    background-image: url(/jogo/img/Sprites/DoorOpen\(Right\).png);
    width: 80px;
    height: 100px;
    top: 44vh;
    left: 94.2vw;
    position: absolute;
    display: none;
}

#portaTop {
    background-image: url(/jogo/img/Sprites/DoorOpen\(Up\).png);
    width: 100px;
    height: 80px;
    top: 0;
    left: 46vw;
    position: absolute;
    background-size: 100% 100%;
}

#portaDown {
    background-image: url(/jogo/img/Sprites/DoorOpen\(Down\).png);
    width: 100px;
    height: 80px;
    top: 88.3vh;
    left: 46vw;
    position: absolute;
    background-size: 100% 100%;
}

#portaLeft{
    background-color: purple;
    width: 80px;
    height: 100px;
    position: absolute;
    left: 0;
    top: 44vh;
}

/* ataques */
#not_attacking-left {
    display: none;
}

#not_attacking-right {
    display: none;
}

#not_attacking-up {
    display: none;
}

#not_attacking-down {
    display: none;
}

.attackingLeft {
    width: 70px;
    height: 70px;
    background-color: aqua;
    position: absolute;
    z-index: 10;
}

.attackingRight {
    width: 70px;
    height: 70px;
    background-color: aqua;
    position: absolute;
    z-index: 10;
}

.attackingUp {
    width: 70px;
    height: 60px;
    background-color: aqua;
    position: absolute;
    z-index: 10;
}

.attackingDown {
    width: 70px;
    height: 60px;
    background-color: aqua;
    position: absolute;
    z-index: 10;
}

/* bosses */
/*#boss_cultista-wrapper {
    width: 81px;
    height: 81px;
    background-color: purple;
    position: absolute;
    left: 0px;
    top: 0px;
    margin-left: 300px;
    margin-top: 250px;
}

#boss_cultista {
    width: 80px;
    height: 80px;
    position: absolute;
}

#boss_cultista-left {
    width: 70px;
    height: 77px;
    position: absolute;
    top: 1%;
}

#boss_cultista-right {
    width: 70px;
    height: 77px;
    position: absolute;
    top: 5%;
    left: 12%;
    z-index: 10;
    background-color: red;
}

#boss_cultista-top {
    width: 77px;
    height: 79px;
    position: absolute;
    left: 1%;
}

#boss_cultista-bottom {
    width: 77px;
    height: 80px;
    position: absolute;
    top: 1%;
    left: 1%;
}

.teste {
    width: 100px;
    height: 63px;
    background-color: blue;
    position: absolute;
}*/