*{
    margin: 0;
    padding: 0;
}
body{
    height: 100vh;
    background-color: #131313;
    overflow: hidden;
    display: flex;
    background-image: url(/jogo/img/Sprites/floor.png);
}

/*diferentes estilos do player*/
#player{
    position: absolute;
    top: 350px;
    left: 250px;
    width: 80px;
    height: 80px;
    margin-left: 81px;
    margin-top: 295px;
}

.staticLeft {
    background-image: url(/jogo/img/Sprites/sPlayer\(Left\).png);
    background-size: cover;
    position: absolute;
    width: 80px;
    height: 80px;
}

.staticRight {
    background-image: url(/jogo/img/Sprites/sPlayer\(Right\).png);
    background-size: cover;
    position: absolute;
    width: 80px;
    height: 80px;
}

.staticUp {
    background-image: url(/jogo/img/Sprites/sPlayer\(Up\).png);
    background-size: cover;
    position: absolute;
    width: 80px;
    height: 80px;
}

.staticDown {
    background-image: url(/jogo/img/Sprites/sPlayer\(Down\).png);
    background-size: cover;
    position: absolute;
    width: 80px;
    height: 80px;
}

.movingLeft {
    background-image: url(/jogo/img/Sprites/movePlayer\ \(Left\).gif);
    background-size: cover;
    position: absolute;
    width: 80px;
    height: 80px;
}

.movingRight {
    background-image: url(/jogo/img/Sprites/movePlayer\ \(Right\).gif);
    background-size: cover;
    position: absolute;
    width: 80px;
    height: 80px;
}

.movingUp {
    background-image: url(/jogo/img/Sprites/movePlayer\ \(Up\).gif);
    background-size: cover;
    position: absolute;
    width: 80px;
    height: 80px;
}

.movingDown {
    background-image: url(/jogo/img/Sprites/movePlayer\ \(Down\).gif);
    background-size: cover;
    position: absolute;
    width: 80px;
    height: 80px;
}

.playerAttackingLeft {
    background-image: url(/jogo/img/Sprites/playerCutting\(Left\).gif);
    background-size: cover;
    position: absolute;
    width: 80px;
    height: 80px;
}

.playerAttackingRight {
    background-image: url(/jogo/img/Sprites/playerCutting\(Right\).gif);
    background-size: cover;
    position: absolute;
    width: 80px;
    height: 80px;
}

.playerAttackingUp {
    background-image: url(/jogo/img/Sprites/PlayerCutting\(Up\).gif);
    background-size: cover;
    position: absolute;
    width: 80px;
    height: 80px;
}

.playerAttackingDown {
    background-image: url(/jogo/img/Sprites/playerCutting\(Down\).gif);
    background-size: cover;
    position: absolute;
    width: 80px;
    height: 80px;
}

/* paredes */
#paredeE {
    width: 80px;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url(/jogo/img/Sprites/wallLeft.png);
}

#paredeD {
    width: 80px;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 94.33vw;
    background-image: url(/jogo/img/Sprites/wallRight.png);
}

#paredeC {
    width: 100%;
    height: 80px;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url(/jogo/img/Sprites/wallUp.png);
}

#paredeB {
    width: 100%;
    height: 80px;
    position: absolute;
    top: 88.3vh;
    left: 0;
    background-image: url(/jogo/img/Sprites/wallDown.png);
}

/* quinas */
#quinaEsqUp{
    width: 80px;
    height: 80px;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url(/jogo/img/Sprites/cornerLeftUp.png);
}

#quinaEsqDown{
    width: 80px;
    height: 80px;
    position: absolute;
    top: 88vh;
    left: 0;
    background-image: url(/jogo/img/Sprites/cornerLeftDown.png);
    background-position: left bottom;
}

#quinaDirUp{
    width: 80px;
    height: 80px;
    position: absolute;
    top: 0;
    left: 94vw;
    background-image: url(/jogo/img/Sprites/cornerRightUp.png);
    background-position: right top;
}

#quinaDirDown{
    width: 80px;
    height: 80px;
    position: absolute;
    top: 88vh;
    left: 94.33vw;
    background-image: url(/jogo/img/Sprites/cornerRightDown.png);
}

/* colisões para objetos no meio da tela */
#quadrado {
    width: 100px;
    height: 100px;
    position: absolute;
    top: 50vh;
    left: 50vw;
    display: none;
}

#quadTop {
    width: 98px;
    height: 1px;
    position: absolute;
    top: 49.9vh;
    left: 50.1vw;
    display: none;
}

#quadBottom {
    width: 98px;
    height: 1px;
    position: absolute;
    top: 65.7vh;
    left: 50.1vw;
    display: none;
}

#quadLeft {
    width: 1px;
    height: 98px;
    position: absolute;
    top: 50.1vh;
    left: 49.9vw;
    display: none;
}

#quadRight {
    width: 1px;
    height: 98px;
    position: absolute;
    top: 50.1vh;
    left: 57.3vw;
    display: none;
}

/*Pedra e barril*/
#pedra1 {
    width: 100px;
    height: 100px;
    position: absolute;
    top: 45vh;
    left: 50vw;
    background-image: url(/jogo/img/Sprites/RockUnbreaking.png);
    background-size: 100% 100%;
}

#pedra1Left {
    width: 1px;
    height: 65px;
    position: absolute;
    top: 49.55555vh;
    left: 50vw;
}

#pedra1Right {
    width: 1px;
    height: 65px;
    position: absolute;
    top: 49.5555vh;
    left: 57.2222vw;
}

#pedra1Top {
    width: 98px;
    height: 1px;
    position: absolute;
    top: 49.22222vh;
    left: 50vw;
}

#pedra1Bottom {
    width: 95px;
    height: 1px;
    position: absolute;
    top: 59.7777vh;
    left: 50.22222vw;
}

#pedra2 {
    width: 100px;
    height: 100px;
    position: absolute;
    top: 35vh;
    left: 42vw;
    background-image: url(/jogo/img/Sprites/RockUnbreaking.png);
    background-size: 100% 100%;
}

#pedra2Left {
    width: 1px;
    height: 62px;
    position: absolute;
    top: 39.99999vh;
    left: 42vw;
}

#pedra2Right {
    width: 1px;
    height: 62px;
    position: absolute;
    top: 39.999999vh;
    left: 49.33333vw;
}

#pedra2Top {
    width: 90px;
    height: 1px;
    position: absolute;
    top: 39.7777vh;
    left: 42.444444vw;
}

#pedra2Bottom {
    width: 90px;
    height: 1px;
    position: absolute;
    top: 49.6666vh;
    left: 42.55555vw;
}

#barril1 {
    width: 80px;
    height: 114px;
    position: absolute;
    top: 7vh;
    left: 5vw;
    background-image: url(/jogo/img/Sprites/Barrel.png);
    background-size: cover;
}

#barril2 {
    width: 80px;
    height: 114px;
    position: absolute;
    top: 20vh;
    left: 5vw;
    background-image: url(/jogo/img/Sprites/Barrel.png);
    background-size: cover;
}

#barril3 {
    width: 80px;
    height: 114px;
    position: absolute;
    top: 7vh;
    left: 11.4444vw;
    background-image: url(/jogo/img/Sprites/Barrel.png);
    background-size: cover;
}

#barraTop{
    width: 6vw;
    height: 1px;
    position: absolute;
    left: 11vw;
    top: 25vh;
}

#barraBottom{
    width: 5.99999vw;
    height: 1px;
    position: absolute;
    left: 5vw;
    top: 37.99999vh;
}

#barraRight{
    width: 1px;
    height: 16.111111vh;
    position: absolute;
    left: 17.22222vw;
    top: 9vh;
}

#barraRight2{
    width: 1px;
    height: 14vh;
    position: absolute;
    left: 11vw;
    top: 24vh;
}


/* portas */
#portaRight {
    background-image: url(/jogo/img/Sprites/DoorClose\(Right\).png);
    width: 80px;
    height: 100px;
    top: 44vh;
    left: 94.2vw;
    position: absolute;
    background-size: 100% 100%;
}

#portaTop {
    width: 100px;
    height: 80px;
    top: 0;
    left: 46vw;
    position: absolute;
    background-size: 100% 100%;
}


#portaDown {
    background-image: url(/jogo/img/Sprites/DoorOpen\(Down\).png);
    width: 100px;
    height: 80px;
    top: 88.3vh;
    left: 46vw;
    position: absolute;
    background-size: 100% 100%;                 
}

#portaLeft{
    background-image: url(/jogo/img/Sprites/CloseDoorAnime\(Left\).gif);
    width: 80px;
    height: 100px;
    position: absolute;
    left: 0;
    top: 44vh;
    background-size: 100% 100%;
}

/* ataques */
#not_attacking-left {
    display: none;
}

#not_attacking-right {
    display: none;
}

#not_attacking-up {
    display: none;
}

#not_attacking-down {
    display: none;
}

.attackingLeft {
    width: 70px;
    height: 70px;
    background-image: url(/jogo/img/Sprites/cut\(Left\).gif);
    background-size: cover;
    position: absolute;
}

.attackingRight {
    width: 70px;
    height: 70px;
    background-image: url(/jogo/img/Sprites/cut\(RIght\).gif);
    background-size: cover;
    position: absolute;
}

.attackingUp {
    width: 70px;
    height: 60px;
    background-image: url(/jogo/img/Sprites/cut\(Up\).gif);
    position: absolute;
    z-index: 10;
}

.attackingDown {
    width: 70px;
    height: 60px;
    background-image: url(/jogo/img/Sprites/cut\(Down\).gif);
    background-size: cover;
    position: absolute;
    z-index: 10;
}

.attackingDown {
    width: 70px;
    height: 60px;
    background-color: aqua;
    position: absolute;
    z-index: 10;
}

/* bosses */
/*#boss_cultista-wrapper {
    width: 81px;
    height: 81px;
    background-color: purple;
    position: absolute;
    left: 0px;
    top: 0px;
    margin-left: 300px;
    margin-top: 250px;
}

#boss_cultista {
    width: 80px;
    height: 80px;
    position: absolute;
}

#boss_cultista-left {
    width: 70px;
    height: 77px;
    position: absolute;
    top: 1%;
}

#boss_cultista-right {
    width: 70px;
    height: 77px;
    position: absolute;
    top: 5%;
    left: 12%;
    z-index: 10;
    background-color: red;
}

#boss_cultista-top {
    width: 77px;
    height: 79px;
    position: absolute;
    left: 1%;
}

#boss_cultista-bottom {
    width: 77px;
    height: 80px;
    position: absolute;
    top: 1%;
    left: 1%;
}

.teste {
    width: 100px;
    height: 63px;
    background-color: blue;
    position: absolute;
}*/