*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}
body{
   background-color: rgb(13, 13, 13);
   height: 100vh;
   display: flex;
   justify-content: center;
   align-items: center;
}
.game-over-container{
   display: flex;
   justify-content: center;
   align-items: center;
}
.botãos{
   display: flex;
   align-items: center;
 
}
#a1{
   width: 200px;
   height: 40px;
   display: flex;
   align-items: center;
   justify-content: center;
   position: absolute;
   top: 65%;
   left: 42%;
   font-size: 30px;
   background-color: rgb(13, 13, 13);
   text-decoration: none;
   color: red;
   box-shadow: 1px 1px 50px rgb(199, 41, 41);
   
}
.vt323-regular{
   font-family: "VT323", monospace;
   font-style: normal;
}