*{
    margin: 0;
    padding: 0;
}
body{
    height: 100vh;
    background-color: #131313;
    overflow: hidden;
    display: flex;
    background-image: url(/jogo/img/Sprites/floor.png);
}

/*diferentes estilos do player*/
#player{
    position: absolute;
    top: 350px;
    left: 250px;
    width: 80px;
    height: 80px;
    margin-left: 800px;
    margin-top: 200px;
}

.staticLeft {
    background-image: url(/jogo/img/Sprites/sPlayer\(Left\).png);
    background-size: cover;
    position: absolute;
    width: 80px;
    height: 80px;
}

.staticRight {
    background-image: url(/jogo/img/Sprites/sPlayer\(Right\).png);
    background-size: cover;
    position: absolute;
    width: 80px;
    height: 80px;
}

.staticUp {
    background-image: url(/jogo/img/Sprites/sPlayer\(Up\).png);
    background-size: cover;
    position: absolute;
    width: 80px;
    height: 80px;
}

.staticDown {
    background-image: url(/jogo/img/Sprites/sPlayer\(Down\).png);
    background-size: cover;
    position: absolute;
    width: 80px;
    height: 80px;
}

.movingLeft {
    background-image: url(/jogo/img/Sprites/movePlayer\ \(Left\).gif);
    background-size: cover;
    position: absolute;
    width: 80px;
    height: 80px;
}

.movingRight {
    background-image: url(/jogo/img/Sprites/movePlayer\ \(Right\).gif);
    background-size: cover;
    position: absolute;
    width: 80px;
    height: 80px;
}

.movingUp {
    background-image: url(/jogo/img/Sprites/movePlayer\ \(Up\).gif);
    background-size: cover;
    position: absolute;
    width: 80px;
    height: 80px;
}

.movingDown {
    background-image: url(/jogo/img/Sprites/movePlayer\ \(Down\).gif);
    background-size: cover;
    position: absolute;
    width: 80px;
    height: 80px;
}

.playerAttackingLeft {
    background-image: url(/jogo/img/Sprites/playerCutting\(Left\).gif);
    background-size: cover;
    position: absolute;
    width: 80px;
    height: 80px;
}

.playerAttackingRight {
    background-image: url(/jogo/img/Sprites/playerCutting\(Right\).gif);
    background-size: cover;
    position: absolute;
    width: 80px;
    height: 80px;
}

.playerAttackingDown {
    background-image: url(/jogo/img/Sprites/playerCutting\(Down\).gif);
    background-size: cover;
    position: absolute;
    width: 80px;
    height: 80px;
}

/* paredes */
#paredeE {
    width: 80px;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url(/jogo/img/Sprites/wallLeft.png);
}

#paredeD {
    width: 80px;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 94.33vw;
    background-image: url(/jogo/img/Sprites/wallRight.png);
}

#paredeC {
    width: 100%;
    height: 80px;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url(/jogo/img/Sprites/wallUp.png);
}

#paredeB {
    width: 100%;
    height: 80px;
    position: absolute;
    top: 88.3vh;
    left: 0;
    background-image: url(/jogo/img/Sprites/wallDown.png);
}

/* quinas */
#quinaEsqUp{
    width: 80px;
    height: 80px;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url(/jogo/img/Sprites/cornerLeftUp.png);
}

#quinaEsqDown{
    width: 80px;
    height: 80px;
    position: absolute;
    top: 88vh;
    left: 0;
    background-image: url(/jogo/img/Sprites/cornerLeftDown.png);
    background-position: left bottom;
}

#quinaDirUp{
    width: 80px;
    height: 80px;
    position: absolute;
    top: 0;
    left: 94vw;
    background-image: url(/jogo/img/Sprites/cornerRightUp.png);
    background-position: right top;
}

#quinaDirDown{
    width: 80px;
    height: 80px;
    position: absolute;
    top: 88vh;
    left: 94.33vw;
    background-image: url(/jogo/img/Sprites/cornerRightDown.png);
}

/* colisões para objetos no meio da tela */
#quadrado {
    width: 150px;
    height: 150px;
    position: absolute;
    top: 35.8vh;
    left: 43vw;
    background-image: url(/jogo/img/Sprites/chest.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: none;
}

#quadTop {
    width: 30px;
    height: 1px;
    position: absolute;
    top: 49vh;
    left: 48vw;
    display: none;
}

#quadBottom {
    width: 30px;
    height: 1px;
    position: absolute;
    top: 56vh;
    left: 48vw;
    display: none;
}

#quadLeft {
    width: 1px;
    height: 25px;
    position: absolute;
    top: 50vh;
    left: 46.6666vw;
    display: none;
}

#quadRight {
    width: 1px;
    height: 25px;
    position: absolute;
    top: 50vh;
    left:52vw;
    display: none;
}

.hp6 {
    width: 300px;
    height: 100px;
    background-image: url(/jogo/img/Sprites/hp\(6-6\).png);
    background-size: cover;
    position: absolute;
    left: 10vw;
    top: 2vh; 
}

.hp5 {
    width: 300px;
    height: 100px;
    background-image: url(/jogo/img/Sprites/hp\(5-6\).png);
    background-size: cover;
    position: absolute;
    left: 10vw;
    top: 2vh;
}

.hp4 {
    width: 300px;
    height: 100px;
    background-image: url(/jogo/img/Sprites/hp\(4-6\).png);
    background-size: cover;
    position: absolute;
    left: 10vw;
    top: 2vh;
}

.hp3 {
    width: 300px;
    height: 100px;
    background-image: url(/jogo/img/Sprites/hp\(3-6\).png);
    background-size: cover;
    position: absolute;
    left: 10vw;
    top: 2vh;
}

.hp2 {
    width: 300px;
    height: 100px;
    background-image: url(/jogo/img/Sprites/hp\(2-6\).png);
    background-size: cover;
    position: absolute;
    left: 10vw;
    top: 2vh;
}

.hp1 {
    width: 300px;
    height: 100px;
    background-image: url(/jogo/img/Sprites/hp\(1-6\).png);
    background-size: cover;
    position: absolute;
    left: 10vw;
    top: 2vh;
}

/* portas */
#portaRight {
    background-image: url(/jogo/img/Sprites/DoorOpen\(Right\).png);
    width: 80px;
    height: 100px;
    top: 44vh;
    left: 94.2vw;
    position: absolute;
}

#portaTop {
    background-image: url(/jogo/img/Sprites/CloseDoorAnime\(Up\).gif);
    width: 100px;
    height: 80px;
    top: 0;
    left: 46vw;
    position: absolute;
}

#portaDown {
    background-color: purple;
    width: 100px;
    height: 80px;
    top: 88.3vh;
    left: 46vw;
    position: absolute;
}

.portaLeft{
    background-image: url(/jogo/img/Sprites/DoorClose\(Left\).png);
    width: 80px;
    height: 100px;
    position: absolute;
    left: 0;
    top: 44vh;
    background-size: 100% 100%;
}

.portaLeftOpen {
    background-image: url(/jogo/img/Sprites/OpenDoorAnime\(Left\).gif);
    width: 80px;
    height: 100px;
    position: absolute;
    left: 0;
    top: 44vh;
    background-size: 100% 100%;
}

/* ataques */
#not_attacking-left {
    display: none;
}

#not_attacking-right {
    display: none;
}

#not_attacking-up {
    display: none;
}

#not_attacking-down {
    display: none;
}

.attackingLeft {
    width: 70px;
    height: 70px;
    background-image: url(/jogo/img/Sprites/cut\(Left\).gif);
    background-size: cover;
    position: absolute;
    z-index: 10;
}

.attackingRight {
    width: 70px;
    height: 70px;
    background-image: url(/jogo/img/Sprites/cut\(RIght\).gif);
    background-size: cover;
    position: absolute;
    z-index: 10;
}

.attackingUp {
    width: 70px;
    height: 60px;
    background-color: aqua;
    position: absolute;
    z-index: 10;
}

.attackingDown {
    width: 70px;
    height: 60px;
    background-image: url(/jogo/img/Sprites/cut\(Down\).gif);
    position: absolute;
    z-index: 10;
}
/* bosses */
#boss_cultista-wrapper {
    width: 81px;
    height: 81px;
    position: absolute;
    left: 0px;
    top: 0px;
    margin-left: 300px;
    margin-top: 250px;
}

.boss-bau {
    width: 80px;
    height: 80px;
    position: absolute;
    background-image: url(/jogo/img/Sprites/chest.png);
    background-size: cover;
}

.boss-waking {
    width: 80px;
    height: 80px;
    position: absolute;
    background-image: url(/jogo/img/Sprites/mimicAwakening\(Left\).gif);
    background-size: cover;
}

.boss_cultista-turned-left {
    width: 80px;
    height: 80px;
    position: absolute;
    background-image: url(/jogo/img/Sprites/mimicWalking\(Left\).gif);
    background-size: cover;
}

.boss_cultista-turned-right {
    width: 80px;
    height: 80px;
    position: absolute;
    background-image: url(/jogo/img/Sprites/mimicWalking\(Right\).gif);
    background-size: cover;
}

#boss_cultista-left {
    width: 70px;
    height: 73px;
    position: absolute;
    top: 1.5%;
}

#boss_cultista-right {
    width: 70px;
    height: 73px;
    position: absolute;
    top: 5%;
    left: 12%;
    z-index: 10;
}

#boss_cultista-top {
    width: 75px;
    height: 79px;
    position: absolute;
    left: 1.5%;
}

#boss_cultista-bottom {
    width: 75px;
    height: 80px;
    position: absolute;
    top: 1%;
    left: 1.5%;
}

.teste {
    width: 100px;
    height: 63px;
    background-color: blue;
    position: absolute;
}

.boss-attacking-left {
    width: 60px;
    height: 80px;
    background-color: salmon;
    position: absolute;
    z-index: 11;
}

.boss-attacking-right {
    width: 60px;
    height: 80px;
    background-color: salmon;
    position: absolute;
    z-index: 11;
}

.boss-attacking-up {
    width: 80px;
    height: 60px;
    background-color: salmon;
    position: absolute;
    z-index: 11;
}

.boss-attacking-down {
    width: 80px;
    height: 60px;
    background-color: salmon;
    position: absolute;
    z-index: 11;
}