*{
    margin: 0;
    padding: 0;
}
body{
    height: 100vh;
    background-color: #131313;
    overflow: hidden;
    display: flex;
    background-image: url(/jogo/img/Sprites/floor.png)
}

/*diferentes estilos do player*/
#player{
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    width: 80px;
    height: 80px;
    margin-left: 500px;
    margin-top: 83px;
}

.staticLeft {
    background-image: url(/jogo/img/Sprites/sPlayer\(Left\).png);
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    width: 80px;
    height: 80px;
}

.staticRight {
    background-image: url(/jogo/img/Sprites/sPlayer\(Right\).png);
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    width: 80px;
    height: 80px;
}

.staticUp {
    background-image: url(/jogo/img/Sprites/sPlayer\(Up\).png);
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    width: 80px;
    height: 80px;
}

.staticDown {
    background-image: url(/jogo/img/Sprites/sPlayer\(Down\).png);
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    width: 80px;
    height: 80px;
}

.movingLeft {
    background-image: url(/jogo/img/Sprites/movePlayer\ \(Left\).gif);
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    width: 80px;
    height: 80px;
}

.movingRight {
    background-image: url(/jogo/img/Sprites/movePlayer\ \(Right\).gif);
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    width: 80px;
    height: 80px;
}

.movingUp {
    background-image: url(/jogo/img/Sprites/movePlayer\ \(Up\).gif);
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    width: 80px;
    height: 80px;
}

.movingDown {
    background-image: url(/jogo/img/Sprites/movePlayer\ \(Down\).gif);
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    width: 80px;
    height: 80px;
}

#paredeE {
    width: 80px;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url(/jogo/img/Sprites/wallLeft.png);
}

#paredeD {
    width: 80px;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 94.2vw;
    background-image: url(/jogo/img/Sprites/wallRight.png);
}

#paredeC {
    width: 100%;
    height: 80px;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url(/jogo/img/Sprites/wallUp.png);
}

#paredeB {
    width: 100%;
    height: 80px;
    position: absolute;
    top: 88.3vh;
    left: 0;
    background-image: url(/jogo/img/Sprites/wallDown.png)
}
#quinaEsqUp{
    width: 80px;
    height: 80px;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url(/jogo/img/Sprites/cornerLeftUp.png);
}
#quinaEsqDown{
    width: 80px;
    height: 80px;
    position: absolute;
    top: 88vh;
    left: 0;
    background-image: url(/jogo/img/Sprites/cornerLeftDown.png);
    background-position: left bottom;
}
#quinaDirUp{
    width: 80px;
    height: 80px;
    position: absolute;
    top: 0;
    left: 94vw;
    background-image: url(/jogo/img/Sprites/cornerRightUp.png);
    background-position: right top;
}
#quinaDirDown{
    width: 80px;
    height: 80px;
    position: absolute;
    top: 88vh;
    left: 94.2vw;
    background-image: url(/jogo/img/Sprites/cornerRightDown.png);
}

#quadrado {
    width: 100px;
    height: 100px;
    position: absolute;
    top: 50vh;
    left: 50vw;
   background-image: url(/jogo/img/Sprites/rockUnbreaking.png);
    background-size: 100% 100%;
}


#quadTop {
    width: 98px;
    height: 1px;
    position: absolute;
    top: 54.9vh;
    left: 50.1vw;
}

#quadBottom {
    width: 98px;
    height: 1px;
    position: absolute;
    top: 65.3vh;
    left: 50.1vw;
}

#quadLeft {
    width: 1px;
    height: 65px;
    position: absolute;
    top: 55.1vh;
    left: 49.9vw;
}

#quadRight {
    width: 1px;
    height: 65px;
    position: absolute;
    top: 55.1vh;
    left: 57.3vw;
}

#portaTop {
    width: 100px;
    height: 80px;
    top: 0;
    left: 46vw;
    position: absolute;

}
.door{
    width: 100px;
    height: 80px;
}

#portaDown {
    width: 100px;
    height: 80px;
    top: 88.3vh;
    left: 46vw;
    position: absolute;
}

/*#boss_cultista {
    background-color: orange;
    width: 80px;
    height: 80px;
    position: absolute;
    top: 30%;
    left: 35%;
}

#boss_cultista-left {
    width: 1px;
    height: 77px;
    position: absolute;
    top: 30.2vh;
    left: 34.85vw;
}

#boss_cultista-right {
    width: 1px;
    height: 77px;
    position: absolute;
    top: 30.1vh;
    left: 40.8vw;
}

#boss_cultista-top {
    width: 77px;
    height: 1px;
    position: absolute;
    top: 29.9vh;
    left: 35.1vw;
}

#boss_cultista-bottom {
    width: 77px;
    height: 1px;
    position: absolute;
    top: 42.45vh;
    left: 35vw;
}

.attackingRight {
    width: 70px;
    height: 60px;
    background-color: aqua;
    position: absolute;
    top: 30vh;
    left: 70vw;
}*/