*{
    margin: 0;
    padding: 0;
}
body{
    height: 100vh;
    background-color: #131313;
    overflow: hidden;
    display: flex;
}

/*diferentes estilos do player*/
#player{
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    width: 80px;
    height: 80px;
    margin-left: 500px;
    margin-top: 150px;
}

.staticLeft {
    background-image: url(/jogo/img/Sprites/sPlayer\(Left\).png);
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    width: 80px;
    height: 80px;
    margin-left: 500px;
    margin-top: 150px;
}

.staticRight {
    background-image: url(/jogo/img/Sprites/sPlayer\(Right\).png);
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    width: 80px;
    height: 80px;
    margin-left: 500px;
    margin-top: 600px;
}

.staticUp {
    background-image: url(/jogo/img/Sprites/sPlayer\(Up\).png);
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    width: 80px;
    height: 80px;
    margin-left: 500px;
    margin-top: 150px;
}

.staticDown {
    background-image: url(/jogo/img/Sprites/sPlayer\(Down\).png);
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    width: 80px;
    height: 80px;
    margin-left: 500px;
    margin-top: 150px;
}

.movingLeft {
    background-image: url(/jogo/img/Sprites/movePlayer\ \(Left\).gif);
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    width: 80px;
    height: 80px;
    margin-left: 500px;
    margin-top: 150px;
}

.movingRight {
    background-image: url(/jogo/img/Sprites/movePlayer\ \(Right\).gif);
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    width: 80px;
    height: 80px;
    margin-left: 500px;
    margin-top: 150px;
}

.movingUp {
    background-image: url(/jogo/img/Sprites/movePlayer\ \(Up\).gif);
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    width: 80px;
    height: 80px;
    margin-left: 500px;
    margin-top: 150px;
}

.movingDown {
    background-image: url(jogo/img/Sprites/movePlayer\ \(Down\).gif);
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    width: 80px;
    height: 80px;
    margin-left: 500px;
    margin-top: 150px;
}

#paredeE {
    width: 5%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    background-color: red;
}

#paredeD {
    width: 5%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 95%;
    background-color: red;
}

#paredeC {
    width: 100%;
    height: 10vh;
    position: absolute;
    top: 0;
    left: 0;
    background-color: green;
}

#paredeB {
    width: 100%;
    height: 10vh;
    position: absolute;
    top: 90vh;
    left: 0;
    background-color: green;
}

#quadrado {
    width: 100px;
    height: 100px;
    position: absolute;
    top: 50vh;
    left: 50vw;
    background-color: blue;
}

#quadTop {
    width: 98px;
    height: 1px;
    position: absolute;
    top: 49.9vh;
    left: 50.1vw;
}

#quadBottom {
    width: 98px;
    height: 1px;
    position: absolute;
    top: 65.7vh;
    left: 50.1vw;
}

#quadLeft {
    width: 1px;
    height: 98px;
    position: absolute;
    top: 50.1vh;
    left: 49.9vw;
}

#quadRight {
    width: 1px;
    height: 98px;
    position: absolute;
    top: 50.1vh;
    left: 57.3vw;
}

#portaTop {
    background-color: purple;
    width: 10%;
    height: 10%;
    top: 0;
    left: 500px;
    position: absolute;
}