*{
    margin: 0;
    padding: 0;
}
body{
    height: 100vh;
    background-color: #131313;
    overflow: hidden;
    display: flex;
    background-image: url(/jogo/img/Sprites/floor.png);
}

/*diferentes estilos do player*/
#player{
    position: absolute;
    top: 350px;
    left: 250px;
    width: 80px;
    height: 80px;
    margin-left: 81px;
    margin-top: 285px;
}

.staticLeft {
    background-image: url(/jogo/img/Sprites/sPlayer\(Left\).png);
    background-size: cover;
    position: absolute;
    width: 80px;
    height: 80px;
}

.staticRight {
    background-image: url(/jogo/img/Sprites/sPlayer\(Right\).png);
    background-size: cover;
    position: absolute;
    width: 80px;
    height: 80px;
}

.staticUp {
    background-image: url(/jogo/img/Sprites/sPlayer\(Up\).png);
    background-size: cover;
    position: absolute;
    width: 80px;
    height: 80px;
}

.staticDown {
    background-image: url(/jogo/img/Sprites/sPlayer\(Down\).png);
    background-size: cover;
    position: absolute;
    width: 80px;
    height: 80px;
}

.movingLeft {
    background-image: url(/jogo/img/Sprites/movePlayer\ \(Left\).gif);
    background-size: cover;
    position: absolute;
    width: 80px;
    height: 80px;
}

.movingRight {
    background-image: url(/jogo/img/Sprites/movePlayer\ \(Right\).gif);
    background-size: cover;
    position: absolute;
    width: 80px;
    height: 80px;
}

.movingUp {
    background-image: url(/jogo/img/Sprites/movePlayer\ \(Up\).gif);
    background-size: cover;
    position: absolute;
    width: 80px;
    height: 80px;
}

.movingDown {
    background-image: url(/jogo/img/Sprites/movePlayer\ \(Down\).gif);
    background-size: cover;
    position: absolute;
    width: 80px;
    height: 80px;
}

/* paredes */
#paredeE {
    width: 80px;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url(/jogo/img/Sprites/wallLeft.png);
}

#paredeD {
    width: 80px;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 94.33vw;
    background-image: url(/jogo/img/Sprites/wallRight.png);
}

#paredeC {
    width: 100%;
    height: 80px;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url(/jogo/img/Sprites/wallUp.png);
}

#paredeB {
    width: 100%;
    height: 80px;
    position: absolute;
    top: 88.3vh;
    left: 0;
    background-image: url(/jogo/img/Sprites/wallDown.png);
}

/* quinas */
#quinaEsqUp{
    width: 80px;
    height: 80px;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url(/jogo/img/Sprites/cornerLeftUp.png);
}

#quinaEsqDown{
    width: 80px;
    height: 80px;
    position: absolute;
    top: 88vh;
    left: 0;
    background-image: url(/jogo/img/Sprites/cornerLeftDown.png);
    background-position: left bottom;
    
}

#quinaDirUp{
    width: 80px;
    height: 80px;
    position: absolute;
    top: 0;
    left: 94vw;
    background-image: url(/jogo/img/Sprites/cornerRightUp.png);
    background-position: right top;
}

#quinaDirDown{
    width: 80px;
    height: 80px;
    position: absolute;
    top: 88vh;
    left: 94.33vw;
    background-image: url(/jogo/img/Sprites/cornerRightDown.png);
}

/* colisões para objetos no meio da tela */
#quadrado {
    width: 150px;
    height: 150px;
    position: absolute;
    top: 35.8vh;
    left: 43vw;
    background-image: url(/jogo/img/Sprites/chest.png);
    background-size: cover;
    z-index: 2;
}

.quadradoNull {
    display: none;
}

.quadTop {
    width: 30px;
    height: 1px;
    position: absolute;
    top: 49vh;
    left: 48vw;
}

.quadBottom {
    width: 30px;
    height: 1px;
    position: absolute;
    top: 56vh;
    left: 48vw;
}

.quadLeft {
    width: 1px;
    height: 25px;
    position: absolute;
    top: 50vh;
    left: 46.6666vw;
}

.quadRight {
    width: 1px;
    height: 25px;
    position: absolute;
    top: 50vh;
    left:52vw;
}

#coracao {
    width: 50px;
    height: 50px;
    position: absolute;
    left: 47.5vw;
    top: 48vh;
}

#coracaoVisual {
    width: 50px;
    height: 50px;
    position: absolute;
    background-color: blue;
    background-size: cover;
    left: 47.5vw;
    top: 48vh;
}

.hp8 {
    width: 300px;
    height: 100px;
    background-image: url(/jogo/img/Sprites/hp\(8-8\).png);
    background-size: cover;
    position: absolute;
    left: 10vw;
    top: 2vh; 
}

.pedra1 {
    width: 100px;
    height: 100px;
    position: absolute;
    background-image: url(/jogo/img/Sprites/RockBreaking.png);
    background-size: cover;
    left: 32vw;
    top: 35vh;
}

.pedra2 {
    width: 100px;
    height: 100px;
    position: absolute;
    background-image: url(/jogo/img/Sprites/RockBreaking.png);
    background-size: cover;
    left: 32vw;
    top: 52vh;
}

.pedra3 {
    width: 100px;
    height: 100px;
    position: absolute;
    background-image: url(/jogo/img/Sprites/RockBreaking.png);
    background-size: cover;
    left: 40vw;
    top: 65vh;
}

.pedra4 {
    width: 100px;
    height: 100px;
    position: absolute;
    background-image: url(/jogo/img/Sprites/RockBreaking.png);
    background-size: cover;
    left: 49vw;
    top: 65vh;
}

.pedra5 {
    width: 100px;
    height: 100px;
    position: absolute;
    background-image: url(/jogo/img/Sprites/RockBreaking.png);
    background-size: cover;
    left: 58vw;
    top: 52vh;
}

.pedra6 {
    width: 100px;
    height: 100px;
    position: absolute;
    background-image: url(/jogo/img/Sprites/RockBreaking.png);
    background-size: cover;
    left: 58vw;
    top: 35vh;
}

.pedra7 {
    width: 100px;
    height: 100px;
    position: absolute;
    background-image: url(/jogo/img/Sprites/RockBreaking.png);
    background-size: cover;
    left: 49vw;
    top: 20vh;
}

.pedra8 {
    width: 100px;
    height: 100px;
    position: absolute;
    background-image: url(/jogo/img/Sprites/RockBreaking.png);
    background-size: cover;
    left: 40vw;
    top: 20vh;
}

.linPedrasLeft1 {
    width: 1px;
    height: 65px;
    background-color: green;
    position: absolute;
    left: 31.9vw;
    top: 40vh;
}

.linPedrasLeft2 {
    width: 1px;
    height: 65px;
    background-color: green;
    position: absolute;
    left: 31.9vw;
    top: 57vh;
}

.linPedrasLeft-top {
    width: 1px;
    height: 58px;
    background-color: green;
    position: absolute;
    left: 39.9vw;
    top: 25vh;
}

.linPedrasLeft-bottom {
    width: 1px;
    height: 58px;
    background-color: green;
    position: absolute;
    left: 39.9vw;
    top: 70vh;
}

.linPedrasLeft-right1 {
    width: 1px;
    height: 58px;
    background-color: blue;
    position: absolute;
    left: 49vw;
    top: 25vh;
}

.linPedrasLeft-right2 {
    width: 1px;
    height: 63px;
    background-color: blue;
    position: absolute;
    left: 58vw;
    top: 40.5vh;
}

.linPedrasLeft-right3 {
    width: 1px;
    height: 63px;
    background-color: blue;
    position: absolute;
    left: 58vw;
    top: 57.4vh;
}

.linPedrasLeft-right4 {
    width: 1px;
    height: 58px;
    background-color: blue;
    position: absolute;
    left: 49vw;
    top: 70.5vh;
}

.linPedrasRight1 {
    width: 1px;
    height: 65px;
    background-color: green;
    position: absolute;
    left: 65vw;
    top: 40vh;
}

.linPedrasRight2 {
    width: 1px;
    height: 65px;
    background-color: green;
    position: absolute;
    left: 65vw;
    top: 57vh;
}

.linPedrasRight-top {
    width: 1px;
    height: 58px;
    background-color: green;
    position: absolute;
    left: 56vw;
    top: 25vh;
}

.linPedrasRight-bottom {
    width: 1px;
    height: 58px;
    background-color: green;
    position: absolute;
    left: 56vw;
    top: 70vh;
}

.linPedrasRight-left1 {
    width: 1px;
    height: 58px;
    background-color: blue;
    position: absolute;
    left: 47vw;
    top: 25vh;
}

.linPedrasRight-left2 {
    width: 1px;
    height: 63px;
    background-color: blue;
    position: absolute;
    left: 39vw;
    top: 40.5vh;
}

.linPedrasRight-left3 {
    width: 1px;
    height: 63px;
    background-color: blue;
    position: absolute;
    left: 39vw;
    top: 57.4vh;
}

.linPedrasRight-left4 {
    width: 1px;
    height: 58px;
    background-color: blue;
    position: absolute;
    left: 47vw;
    top: 70.5vh;
}

.linPedrasTop1 {
    width: 93px;
    height: 1px;
    background-color: red;
    position: absolute;
    left: 40.1vw;
    top: 24.6vh;
}

.linPedrasTop2{
    width: 94px;
    height: 1px;
    background-color: red;
    position: absolute;
    left: 49.2vw;
    top: 24.6vh;
}

.linPedrasTop-left {
    width: 93px;
    height: 1px;
    background-color: red;
    position: absolute;
    left: 32.1vw;
    top: 39.8vh;
}

.linPedrasTop-right {
    width: 92px;
    height: 1px;
    background-color: red;
    position: absolute;
    left: 58.2vw;
    top: 39.8vh;
}

.linPedrasTop-bottom1 {
    width: 93px;
    height: 1px;
    background-color: yellow;
    position: absolute;
    left: 32.1vw;
    top: 57vh;
}

.linPedrasTop-bottom2 {
    width: 93px;
    height: 1px;
    background-color: yellow;
    position: absolute;
    left: 49.1vw;
    top: 70vh;
}

.linPedrasTop-bottom3 {
    width: 93px;
    height: 1px;
    background-color: yellow;
    position: absolute;
    left: 40.2vw;
    top: 70vh;
}

.linPedrasTop-bottom4 {
    width: 93px;
    height: 1px;
    background-color: yellow;
    position: absolute;
    left: 58.2vw;
    top: 57vh;
}


.linPedrasBottom1 {
    width: 93px;
    height: 1px;
    background-color: red;
    position: absolute;
    left: 40.2vw;
    top: 80vh;
}

.linPedrasBottom2 {
    width: 96px;
    height: 1px;
    background-color: red;
    position: absolute;
    left: 48.9vw;
    top: 80vh;
}

.linPedrasBottom-left {
    width: 98px;
    height: 1px;
    background-color: red;
    position: absolute;
    left: 32.1vw;
    top: 67.5vh;
}

.linPedrasBottom-right {
    width: 98px;
    height: 1px;
    background-color: red;
    position: absolute;
    left: 58vw;
    top: 67.5vh;
}

/* portas */
#portaRight {
    background-image: url(/jogo/img/Sprites/CloseDoorAnime\(Right\).gif);
    width: 80px;
    height: 100px;
    top: 44vh;
    left: 94.2vw;
    position: absolute;
}

#portaTop {
    background-color: purple;
    width: 100px;
    height: 80px;
    top: 0;
    left: 46vw;
    position: absolute;
}

#portaDown {
    background-image: url(/jogo/img/Sprites/DoorOpen\(Down\).png);
    width: 100px;
    height: 80px;
    top: 88.3vh;
    left: 46vw;
    position: absolute;
    background-size: 100% 100%;
}

#portaLeft{
    background-image: url(/jogo/img/Sprites/CloseDoorAnime\(Left\).gif);
    width: 80px;
    height: 100px;
    position: absolute;
    left: 0;
    top: 44vh;
}

/* ataques */
#not_attacking-left {
    display: none;
}

#not_attacking-right {
    display: none;
}

#not_attacking-up {
    display: none;
}

#not_attacking-down {
    display: none;
}

.attackingLeft {
    width: 70px;
    height: 70px;
    background-color: aqua;
    position: absolute;
    z-index: 10;
}

.attackingRight {
    width: 70px;
    height: 70px;
    background-color: aqua;
    position: absolute;
    z-index: 10;
}

.attackingUp {
    width: 70px;
    height: 60px;
    background-color: aqua;
    position: absolute;
    z-index: 10;
}

.attackingDown {
    width: 70px;
    height: 60px;
    background-color: aqua;
    position: absolute;
    z-index: 10;
}

/* bosses */
/*#boss_cultista-wrapper {
    width: 81px;
    height: 81px;
    background-color: purple;
    position: absolute;
    left: 0px;
    top: 0px;
    margin-left: 300px;
    margin-top: 250px;
}

#boss_cultista {
    width: 80px;
    height: 80px;
    position: absolute;
}

#boss_cultista-left {
    width: 70px;
    height: 77px;
    position: absolute;
    top: 1%;
}

#boss_cultista-right {
    width: 70px;
    height: 77px;
    position: absolute;
    top: 5%;
    left: 12%;
    z-index: 10;
    background-color: red;
}

#boss_cultista-top {
    width: 77px;
    height: 79px;
    position: absolute;
    left: 1%;
}

#boss_cultista-bottom {
    width: 77px;
    height: 80px;
    position: absolute;
    top: 1%;
    left: 1%;
}

.teste {
    width: 100px;
    height: 63px;
    background-color: blue;
    position: absolute;
}*/