*{
    margin: 0;
    padding: 0;
}
body{
    height: 100vh;
    background-color: #131313;
    overflow: hidden;
    display: flex;
    background-image: url(/jogo/img/Sprites/floor.png);
}

/*diferentes estilos do player*/
#player{
    position: absolute;
    top: 350px;
    left: 250px;
    width: 80px;
    height: 80px;
    margin-left: 100px;
    margin-top: 300px;
}

.staticLeft {
    background-image: url(/jogo/img/Sprites/sPlayer\(Left\).png);
    background-size: cover;
    position: absolute;
    width: 80px;
    height: 80px;
}

.staticRight {
    background-image: url(/jogo/img/Sprites/sPlayer\(Right\).png);
    background-size: cover;
    position: absolute;
    width: 80px;
    height: 80px;
}

.staticUp {
    background-image: url(/jogo/img/Sprites/sPlayer\(Up\).png);
    background-size: cover;
    position: absolute;
    width: 80px;
    height: 80px;
}

.staticDown {
    background-image: url(/jogo/img/Sprites/sPlayer\(Down\).png);
    background-size: cover;
    position: absolute;
    width: 80px;
    height: 80px;
}

.movingLeft {
    background-image: url(/jogo/img/Sprites/movePlayer\ \(Left\).gif);
    background-size: cover;
    position: absolute;
    width: 80px;
    height: 80px;
}

.movingRight {
    background-image: url(/jogo/img/Sprites/movePlayer\ \(Right\).gif);
    background-size: cover;
    position: absolute;
    width: 80px;
    height: 80px;
}

.movingUp {
    background-image: url(/jogo/img/Sprites/movePlayer\ \(Up\).gif);
    background-size: cover;
    position: absolute;
    width: 80px;
    height: 80px;
}

.movingDown {
    background-image: url(/jogo/img/Sprites/movePlayer\ \(Down\).gif);
    background-size: cover;
    position: absolute;
    width: 80px;
    height: 80px;
}

.playerAttackingLeft {
    background-image: url(/jogo/img/Sprites/playerCutting\(Left\).gif);
    background-size: cover;
    position: absolute;
    width: 80px;
    height: 80px;
}

.playerAttackingRight {
    background-image: url(/jogo/img/Sprites/playerCutting\(Right\).gif);
    background-size: cover;
    position: absolute;
    width: 80px;
    height: 80px;
}

.playerAttackingUp {
    background-image: url(/jogo/img/Sprites/PlayerCutting\(Up\).gif);
    background-size: cover;
    position: absolute;
    width: 80px;
    height: 80px;
}

.playerAttackingDown {
    background-image: url(/jogo/img/Sprites/playerCutting\(Down\).gif);
    background-size: cover;
    position: absolute;
    width: 80px;
    height: 80px;
}

/* paredes */
#paredeE {
    width: 80px;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url(/jogo/img/Sprites/wallLeft.png);
}

#paredeD {
    width: 80px;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 94.33vw;
    background-image: url(/jogo/img/Sprites/wallRight.png);
}

#paredeC {
    width: 100%;
    height: 80px;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url(/jogo/img/Sprites/wallUp.png);
}

#paredeB {
    width: 100%;
    height: 80px;
    position: absolute;
    top: 88.3vh;
    left: 0;
    background-image: url(/jogo/img/Sprites/wallDown.png);
}

/* quinas */
#quinaEsqUp{
    width: 80px;
    height: 80px;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url(/jogo/img/Sprites/cornerLeftUp.png);
}

#quinaEsqDown{
    width: 80px;
    height: 80px;
    position: absolute;
    top: 88vh;
    left: 0;
    background-image: url(/jogo/img/Sprites/cornerLeftDown.png);
    background-position: left bottom;
}

#quinaDirUp{
    width: 80px;
    height: 80px;
    position: absolute;
    top: 0;
    left: 94vw;
    background-image: url(/jogo/img/Sprites/cornerRightUp.png);
    background-position: right top;
}

#quinaDirDown{
    width: 80px;
    height: 80px;
    position: absolute;
    top: 88vh;
    left: 94.33vw;
    background-image: url(/jogo/img/Sprites/cornerRightDown.png);
}

/* colisões para objetos no meio da tela */
#quadrado {
    width: 100px;
    height: 100px;
    position: absolute;
    top: 50vh;
    left: 50vw;
    background-color: blue;
    display: none;
}

#quadTop {
    width: 98px;
    height: 1px;
    position: absolute;
    top: 49.9vh;
    left: 50.1vw;
    display: none;
}

#quadBottom {
    width: 98px;
    height: 1px;
    position: absolute;
    top: 65.7vh;
    left: 50.1vw;
    display: none;
}

#quadLeft {
    width: 1px;
    height: 98px;
    position: absolute;
    top: 50.1vh;
    left: 49.9vw;
    display: none;
}

#quadRight {
    width: 1px;
    height: 98px;
    position: absolute;
    top: 50.1vh;
    display: none;
}

/*estantes*/
#estante {
    width: 130px;
    height: 170px;
    position: absolute;
    background-image: url(/jogo/img/Sprites/Bookshelf.png);
    background-position: cover;
    top: 7vh;
    left: 58vw;
}

#estanteLeft {
    width: 1px;
    height: 167px;
    position: absolute;
    top: 7vh;
    left: 58vw;
}

#estanteRight {
    width: 1px;
    height: 167px;
    position: absolute;
    top: 7vh;
    left: 67.66666vw;
}

#estanteTop {
    width: 128px;
    height: 1px;
    position: absolute;
    top: 13vh;
    left: 58vw;
}

#estanteBottom {
    width: 125px;
    height: 1px;
    position: absolute;
    top: 33vh;
    left: 58.22222vw;
}

#estante2 {
    width: 130px;
    height: 170px;
    position: absolute;
    background-image: url(/jogo/img/Sprites/Bookshelf.png);
    background-position: cover;
    top: 7vh;
    left: 75vw;
}

#estanteLeft2 {
    width: 1px;
    height: 167px;
    position: absolute;
    top: 7vh;
    left: 75vw;
}

#estanteRight2 {
    width: 1px;
    height: 167px;
    position: absolute;
    top: 7vh;
    left: 84.4444vw;
}

#estanteTop2 {
    width: 128px;
    height: 1px;
    position: absolute;
    top: 7vh;
    left: 75vw;
}

#estanteBottom2 {
    width: 125px;
    height: 1px;
    position: absolute;
    top: 33vh;
    left: 75.222vw;
}

#estante3 {
    width: 130px;
    height: 170px;
    position: absolute;
    background-image: url(/jogo/img/Sprites/Bookshelf.png);
    background-position: cover;
    top: 7vh;
    left: 15vw;
}

#estanteLeft3 {
    width: 1px;
    height: 167px;
    position: absolute;
    top: 7vh;
    left: 15vw;
}

#estanteRight3 {
    width: 1px;
    height: 167px;
    position: absolute;
    top: 7vh;
    left: 24.555555vw;
}

#estanteTop3 {
    width: 128px;
    height: 1px;
    position: absolute;
    top: 7vh;
    left: 15vw;
}

#estanteBottom3 {
    width: 125px;
    height: 1px;
    position: absolute;
    top: 33vh;
    left: 15.11111vw;
}

#estante4 {
    width: 130px;
    height: 170px;
    position: absolute;
    background-image: url(/jogo/img/Sprites/Bookshelf.png);
    background-position: cover;
    top: 7vh;
    left: 32vw;
}

#estanteLeft4 {
    width: 1px;
    height: 167px;
    position: absolute;
    top: 7vh;
    left: 32vw;
}

#estanteRight4 {
    width: 1px;
    height: 167px;
    position: absolute;
    top: 7vh;
    left: 41.55555vw;
}

#estanteTop4 {
    width: 128px;
    height: 1px;
    position: absolute;
    top: 7vh;
    left: 32vw;
}

#estanteBottom4 {
    width: 125px;
    height: 1px;
    position: absolute;
    top: 33vh;
    left: 32.2222vw;
}

/*Pedras*/
#pedra1 {
    width: 100px;
    height: 100px;
    position: absolute;
    top: 55vh;
    left: 85vw;
    background-image: url(/jogo/img/Sprites/RockUnbreaking.png);
    background-size: 100% 100%;
}

#pedra1Left {
    width: 1px;
    height: 50px;
    position: absolute;
    top: 62vh;
    left: 85vw;
}

#pedra1Right {
    width: 1px;
    height: 50px;
    position: absolute;
    top: 62vh;
    left: 92.2vw;    
}

#pedra1Top {
    width: 93px;
    height: 1px;
    position: absolute;
    top: 60vh;
    left: 86vw;
}

#pedra1Bottom {
    width: 93px;
    height: 1px;
    position: absolute;
    top: 70vh;
    left: 86vw;
}

#pedra2 {
    width: 100px;
    height: 100px;
    position: absolute;
    top: 70vh;
    left: 65vw;
    background-image: url(/jogo/img/Sprites/RockUnbreaking.png);
    background-size: 100% 100%;
}

#pedra2Left {
    width: 1px;
    height: 50px;
    position: absolute;
    top: 78vh;
    left: 65vw;
}

#pedra2Right {
    width: 1px;
    height: 50px;
    position: absolute;
    top: 78vh;
    left: 72.555555vw;
}

#pedra2Top {
    width: 98px;
    height: 1px;
    position: absolute;
    top: 75.1111vh;
    left: 65.2222vw;
    
}

#pedra2Bottom {
    width: 98px;
    height: 1px;
    position: absolute;
    top: 85vh;
    left: 65.2222vw;
    
}

/* portas */
#portaRight {
    background-image: url(/jogo/img/Sprites/DoorOpen\(Right\).png);
    width: 80px;
    height: 100px;
    top: 44vh;
    left: 94.2vw;
    position: absolute;
}

#portaTop {
    background-image: url(/jogo/img/Sprites/DoorOpen\(Up\).png);
    width: 100px;
    height: 80px;
    top: 0;
    left: 46vw;
    position: absolute;
    background-size: 100% 100%;
}

#portaDown {
    background-image: url(/jogo/img/Sprites/DoorOpen\(Down\).png);
    width: 100px;
    height: 80px;
    top: 88.3vh;
    left: 46vw;
    position: absolute;
    background-size: 100% 100%;
    display: none;
}

#portaLeft{
    background-image: url(/jogo/img/Sprites/CloseDoorAnime\(Left\).gif);
    width: 80px;
    height: 100px;
    position: absolute;
    left: 0;
    top: 44vh;
    background-size: 100% 100%;
}

/* ataques */
#not_attacking-left {
    display: none;
}

#not_attacking-right {
    display: none;
}

#not_attacking-up {
    display: none;
}

#not_attacking-down {
    display: none;
}

.attackingLeft {
    width: 70px;
    height: 70px;
    background-image: url(/jogo/img/Sprites/cut\(Left\).gif);
    background-size: cover;
    position: absolute;
}

.attackingRight {
    width: 70px;
    height: 70px;
    background-image: url(/jogo/img/Sprites/cut\(RIght\).gif);
    background-size: cover;
    position: absolute;
}

.attackingUp {
    width: 70px;
    height: 60px;
    background-image: url(/jogo/img/Sprites/cut\(Up\).gif);
    position: absolute;
    z-index: 10;
}

.attackingDown {
    width: 70px;
    height: 60px;
    background-image: url(/jogo/img/Sprites/cut\(Down\).gif);
    background-size: cover;
    position: absolute;
    z-index: 10;
}

/* bosses */
#boss_cultista-wrapper {
    width: 81px;
    height: 81px;
    background-color: purple;
    position: absolute;
    left: 0px;
    top: 0px;
    margin-left: 300px;
    margin-top: 250px;
}

#boss_cultista {
    width: 80px;
    height: 80px;
    position: absolute;
}

#boss_cultista-left {
    width: 70px;
    height: 77px;
    position: absolute;
    top: 1%;
}

#boss_cultista-right {
    width: 70px;
    height: 77px;
    position: absolute;
    top: 5%;
    left: 12%;
    z-index: 10;
    background-color: red;
}

#boss_cultista-top {
    width: 77px;
    height: 79px;
    position: absolute;
    left: 1%;
}

#boss_cultista-bottom {
    width: 77px;
    height: 80px;
    position: absolute;
    top: 1%;
    left: 1%;
}