*{
    margin: 0;
    padding: 0;
}
body{
    height: 100vh;
    background-color: rgb(13, 13, 13);
    overflow: hidden;
    display: flex;
}
#mario{
    background-color: transparent;
    position: absolute;
    top: 0;
    left: 0;
    width: 80px;
    height: 80px;
    margin-left: 500px;
}

#paredeD {
    width: 80px;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 94%;
    background-image: url(./wallRight.png);
}
#paredeE {
    width: 80px;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url(./wallLeft.png);
}
#espada{
    width: 100px;
    height: 100px;
    left: 600px;
    top: 300px;
    position: relative;
}