*{
    margin: 0;
    padding: 0;
}
body{
    height: 100vh;
    background-color: #131313;
    overflow: hidden;
    display: flex;
}
#player{
    background-image: url(./img/Sprites/sPlayer\(Left\).png);
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    width: 80px;
    height: 80px;
    margin-left: 500px;
    margin-top: 150px;
}

#paredeE {
    width: 5%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    background-color: red;
}

#paredeD {
    width: 5%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 95%;
    background-color: red;
}

#paredeC {
    width: 100%;
    height: 10vh;
    position: absolute;
    top: 0;
    left: 0;
    background-color: green;
}

#paredeB {
    width: 100%;
    height: 10vh;
    position: absolute;
    top: 90vh;
    left: 0;
    background-color: green;
}

#quadrado {
    width: 100px;
    height: 100px;
    position: absolute;
    top: 50vh;
    left: 50vw;
    background-color: blue;
}

#quadTop {
    width: 98px;
    height: 1px;
    position: absolute;
    top: 49.9vh;
    left: 50.1vw;
}

#quadBottom {
    width: 98px;
    height: 1px;
    position: absolute;
    top: 65.7vh;
    left: 50.1vw;
}

#quadLeft {
    width: 1px;
    height: 98px;
    position: absolute;
    top: 50.1vh;
    left: 49.9vw;
}

#quadRight {
    width: 1px;
    height: 98px;
    position: absolute;
    top: 50.1vh;
    left: 57.3vw;
}