*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #131313;
    overflow: hidden;
    display: flex;
}
#mario{
    background-color: transparent;
    position: absolute;
    top: 0;
    left: 0;
    width: 80px;
    height: 80px;
    margin: 20px;
}

#paredeD {
    width: 10%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 90%;
    background-color: red;
}
#paredeE {
    width: 10%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    background-color: red;
}