*{
    margin: 0;
    padding: 0;
}
body{
    height: 100vh;
    background-color: #131313;
    overflow: hidden;
    display: flex;
    background-image: url(/jogo/img/Sprites/floor.png);
}

/*diferentes estilos do player*/
#player{
    position: absolute;
    top: 350px;
    left: 250px;
    width: 80px;
    height: 80px;
    margin-left: 81px;
    margin-top: 295px;
}

.staticLeft {
    background-image: url(/jogo/img/Sprites/sPlayer\(Left\).png);
    background-size: cover;
    position: absolute;
    width: 80px;
    height: 80px;
}

.staticRight {
    background-image: url(/jogo/img/Sprites/sPlayer\(Right\).png);
    background-size: cover;
    position: absolute;
    width: 80px;
    height: 80px;
}

.staticUp {
    background-image: url(/jogo/img/Sprites/sPlayer\(Up\).png);
    background-size: cover;
    position: absolute;
    width: 80px;
    height: 80px;
}

.staticDown {
    background-image: url(/jogo/img/Sprites/sPlayer\(Down\).png);
    background-size: cover;
    position: absolute;
    width: 80px;
    height: 80px;
}

.movingLeft {
    background-image: url(/jogo/img/Sprites/movePlayer\ \(Left\).gif);
    background-size: cover;
    position: absolute;
    width: 80px;
    height: 80px;
}

.movingRight {
    background-image: url(/jogo/img/Sprites/movePlayer\ \(Right\).gif);
    background-size: cover;
    position: absolute;
    width: 80px;
    height: 80px;
}

.movingUp {
    background-image: url(/jogo/img/Sprites/movePlayer\ \(Up\).gif);
    background-size: cover;
    position: absolute;
    width: 80px;
    height: 80px;
}

.movingDown {
    background-image: url(/jogo/img/Sprites/movePlayer\ \(Down\).gif);
    background-size: cover;
    position: absolute;
    width: 80px;
    height: 80px;
}

.playerAttackingLeft {
    background-image: url(/jogo/img/Sprites/playerCutting\(Left\).gif);
    background-size: cover;
    position: absolute;
    width: 80px;
    height: 80px;
}

.playerAttackingRight {
    background-image: url(/jogo/img/Sprites/playerCutting\(Right\).gif);
    background-size: cover;
    position: absolute;
    width: 80px;
    height: 80px;
}

.playerAttackingUp {
    background-image: url(/jogo/img/Sprites/PlayerCutting\(Up\).gif);
    background-size: cover;
    position: absolute;
    width: 80px;
    height: 80px;
}

.playerAttackingDown {
    background-image: url(/jogo/img/Sprites/playerCutting\(Down\).gif);
    background-size: cover;
    position: absolute;
    width: 80px;
    height: 80px;
}

/* paredes */
#paredeE {
    width: 80px;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url(/jogo/img/Sprites/wallLeft.png);
}

#paredeD {
    width: 80px;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 94.33vw;
    background-image: url(/jogo/img/Sprites/wallRight.png);
}

#paredeC {
    width: 100%;
    height: 80px;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url(/jogo/img/Sprites/wallUp.png);
}

#paredeB {
    width: 100%;
    height: 80px;
    position: absolute;
    top: 88.3vh;
    left: 0;
    background-image: url(/jogo/img/Sprites/wallDown.png);
}

/* quinas */
#quinaEsqUp{
    width: 80px;
    height: 80px;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url(/jogo/img/Sprites/cornerLeftUp.png);
}

#quinaEsqDown{
    width: 80px;
    height: 80px;
    position: absolute;
    top: 88vh;
    left: 0;
    background-image: url(/jogo/img/Sprites/cornerLeftDown.png);
    background-position: left bottom;
}

#quinaDirUp{
    width: 80px;
    height: 80px;
    position: absolute;
    top: 0;
    left: 94vw;
    background-image: url(/jogo/img/Sprites/cornerRightUp.png);
    background-position: right top;
}

#quinaDirDown{
    width: 80px;
    height: 80px;
    position: absolute;
    top: 88vh;
    left: 94.33vw;
    background-image: url(/jogo/img/Sprites/cornerRightDown.png);
}

#hp{
    width: 300px;
    height: 100px;
    background-image: url(/jogo/img/Sprites/hp\(7-7\).png);
    background-size: cover;
    position: absolute;
    left: 10vw;
    top: 2vh;
    z-index: 15;
}

/* colisões para objetos no meio da tela */
.quadrado {
    width: 100px;
    height: 100px;
    position: absolute;
    top: 55vh;
    left: 85.9999999vw;
    background-image: url(/jogo/img/Sprites/RockBreaking.png);
    background-size: cover;
}

#quadTop {
    width: 80px;
    height: 1px;
    position: absolute;
    top: 59vh;
    left: 86.99999vw;
}

#quadBottom {
    width: 80px;
    height: 1px;
    position: absolute;
    top: 70vh;
    left: 86.9999vw;
}

#quadLeft {
    width: 1px;
    height: 68px;
    position: absolute;
    top: 59.55555vh;
    left: 86.777777vw;
}

#quadRight {
    width: 1px;
    height: 68px;
    position: absolute;
    top: 59.55555vh;
    left: 93vw;
}

.pedra{
    width: 100px;
    height: 100px;
    position: absolute;
    top: 39vh;
    left: 85.9999999vw;
    background-image: url(/jogo/img/Sprites/RockBreaking.png);
    background-size: cover;
}

#pedraTop {
    width: 80px;
    height: 1px;
    position: absolute;
    top: 43vh;
    left: 86.99999vw;
}

#pedraBottom {
    width: 80px;
    height: 1px;
    position: absolute;
    top: 54vh;
    left: 86.9999vw;
}

#pedraLeft {
    width: 1px;
    height: 68px;
    position: absolute;
    top: 43.33333vh;
    left: 86.777777vw;
}

#estante3 {
    width: 130px;
    height: 170px;
    position: absolute;
    background-image: url(/jogo/img/Sprites/Bookshelf.png);
    background-position: cover;
    top: 7vh;
    left: 15vw;
}

#estanteLeft3 {
    width: 1px;
    height: 167px;
    position: absolute;
    top: 7vh;
    left: 15vw;
}

#estanteRight3 {
    width: 1px;
    height: 167px;
    position: absolute;
    top: 7vh;
    left: 24.555555vw;
}

#estanteBottom3 {
    width: 125px;
    height: 1px;
    position: absolute;
    top: 33vh;
    left: 15.11111vw;
}

#estante4 {
    width: 130px;
    height: 170px;
    position: absolute;
    background-image: url(/jogo/img/Sprites/Bookshelf.png);
    background-position: cover;
    top: 7vh;
    left: 32vw;
}

#estanteLeft4 {
    width: 1px;
    height: 167px;
    position: absolute;
    top: 7vh;
    left: 32vw;
}

#estanteRight4 {
    width: 1px;
    height: 167px;
    position: absolute;
    top: 7vh;
    left: 41.55555vw;
}

#estanteBottom4 {
    width: 125px;
    height: 1px;
    position: absolute;
    top: 33vh;
    left: 32.2222vw;
}

/* portas */
#portaRight {
    background-image: url(/jogo/img/Sprites/DoorOpen\(Right\).png);
    width: 80px;
    height: 100px;
    top: 44vh;
    left: 94.2vw;
    position: absolute;
    background-size: 100% 100%;
}

#portaTop {
    background-color: purple;
    width: 100px;
    height: 80px;
    top: 0;
    left: 46vw;
    position: absolute;
}

#portaDown {
    background-color: purple;
    width: 100px;
    height: 80px;
    top: 88.3vh;
    left: 46vw;
    position: absolute;
}

#portaLeft{
    background-image: url(/jogo/img/Sprites/DoorOpen\(Left\).png);
    width: 80px;
    height: 100px;
    position: absolute;
    left: 0;
    top: 44vh;
    background-size: 100% 100%;
}

/* ataques */
#not_attacking-left {
    display: none;
}

#not_attacking-right {
    display: none;
}

#not_attacking-up {
    display: none;
}

#not_attacking-down {
    display: none;
}

.attackingLeft {
    width: 70px;
    height: 70px;
    background-image: url(/jogo/img/Sprites/cut\(Left\).gif);
    background-size: cover;
    position: absolute;
}

.attackingRight {
    width: 70px;
    height: 70px;
    background-image: url(/jogo/img/Sprites/cut\(RIght\).gif);
    background-size: cover;
    position: absolute;
}

.attackingUp {
    width: 70px;
    height: 60px;
    background-image: url(/jogo/img/Sprites/cut\(Up\).gif);
    position: absolute;
    z-index: 10;
}

.attackingDown {
    width: 70px;
    height: 60px;
    background-image: url(/jogo/img/Sprites/cut\(Down\).gif);
    background-size: cover;
    position: absolute;
    z-index: 10;
}

/* bosses */
/*#boss_cultista-wrapper {
    width: 81px;
    height: 81px;
    background-color: purple;
    position: absolute;
    left: 0px;
    top: 0px;
    margin-left: 300px;
    margin-top: 250px;
}

#boss_cultista {
    width: 80px;
    height: 80px;
    position: absolute;
}

#boss_cultista-left {
    width: 70px;
    height: 77px;
    position: absolute;
    top: 1%;
}

#boss_cultista-right {
    width: 70px;
    height: 77px;
    position: absolute;
    top: 5%;
    left: 12%;
    z-index: 10;
    background-color: red;
}

#boss_cultista-top {
    width: 77px;
    height: 79px;
    position: absolute;
    left: 1%;
}

#boss_cultista-bottom {
    width: 77px;
    height: 80px;
    position: absolute;
    top: 1%;
    left: 1%;
}

.teste {
    width: 100px;
    height: 63px;
    background-color: blue;
    position: absolute;
}*/